@font-face {
  font-family: "Open Sans Condensed";
  src: url("fonts/OpenSansCondensed-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Open Sans Condensed";
  src: url("fonts/OpenSansCondensed-Light.ttf");
  font-weight: light;
}

@font-face {
  font-family: "Open Sans Condensed";
  src: url("fonts/OpenSansCondensed-LightItalic.ttf");
  font-style: LightItalic;
  font-weight: 300;
}

