<!-- <div class="header">
    <div class="container">
        <h2 class="header__title">Бренд.ru</h2>
        <div class="header__text-italic"><a href="#" class="header__text-style">Главная</a></div>
        <div class="header__text"><a href="#" class="header__text-style-color">История обо мне</a></div>
        <div class="header__text"><a href="#" class="header__text-style-color">Мой блок</a></div>
        <div class="header__text"><a href="#" class="header__text-style-color">Контакты</a></div>
    </div> -->


<!-- </div>
<div class="test"> 
    <p> content1</p></div>
<div class="test2"> content2</div> -->


<div class="header ">
    <div class="container">
        <div class="header-img"></div>
        <div class="header-menu">
        <a class="header-style" href="#">Главная</a>
        <a class="header-style" href="#">Мой блок</a>
        <a class="header-style" href="#">Подробнее обо мне</a>
        <a class="header-style" href="#">Контакты</a>
        </div>
    </div>
</div>